.borderError {
    border: solid 1px red;
}

form * {
    margin-right: 10px;
}

.form {
    margin-left: 10%;
}

.buttonSubmit {
    margin-left: 10px;
    width: 100px;
    height: 30px;
    cursor: pointer;
}

.input-field {
    border-radius: 5px;
    height: 20px;
    width: 150px;
}

form {
    display: flex;
    align-items: flex-start;
}

.formGroup{
    display: flex;
    flex-direction: column;
}

.error {
    color: red;
    font-size: 10px;
}